*{
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Roboto',
        sans-serif,'Raleway',
            sans-serif;
}
h1{
    font-size: 65px;
    font-weight: bold;
    padding: 1% 0;
    font-family: 'Raleway', sans-serif;
}
h2{
    font-size: 45px;
    font-weight: bold;
    padding: 1% 0;
    font-family: 'Raleway', sans-serif;
}
h3{
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}
p{
    font-size: 18px;
    padding: 1% 0;
    font-family: 'Roboto', sans-serif;
    color: #7c7b7b;
}
.btn {
    width: 140px;
    height: 50px;
    padding: 0 5px;
    border-radius: 5px;
    border: none;
    background-color: #FF5959;
    color : #fff;
    font-size: 20px;
    font-family: Roboto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/*------------------ BANER AREA  START -----------------*/
.banner {
    width: 100%;
    height: 45vh;
    background-image: url(images/donation3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}


.banner_content {
    width: 100%;
    background: linear-gradient(transparent, black);
    padding: 5% 5%;
    height: 100%;
    align-self: center;
    text-align: center;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}
#banner_p{
    width: 70%;
    margin: auto;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
}
/*----------------- BANER AREA FINISHED -----------------*/

/*------------------ Donatoin Area  START -----------------*/
.donate_area {
    width: 90%;
    padding: 100px 5%;
    height: 45vh;
    text-align: center;
}

.donate_area h1{
    font-size: 35px;
}

.donate_area p{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
}

.price_menu {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items:center;
    justify-content: center;
    margin-bottom: 30px;
}

.list_item {
    width: 90px;
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
    font-size: 23px;
    font-weight: bold;
    color: #707070;
    margin: 0 10px;
    border-radius: 5px;
}

#active {
    background: #FFEEEE;
    border: 3px solid #FF8888;
    color: #FF5959;
}
.custom_amount {
    width: 60%;
    text-align: center;

    border: none;
    border-bottom: 1px solid #cccccc;
    padding: 10px 5px;
    color: rgb(241, 241, 241);
}
input.custom_amount::placeholder{
    border: none !important;
    color: rgb(201, 201, 201);
    border: 1px solid;
    font-size: 14px;
}
.donate_area_btn{
    display: block;
    justify-content: center;
    margin: auto;
    margin-top: 30px;

}

/*----------------- Donatoin Area FINISHED -----------------*/

/*------------------ Plan Area  START -----------------*/

.plan_area{
    width: 100%;
    text-align: center;
}

.h_p{
    width: 60%;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}
.plan_container{
    display: flex;
    text-align: left ;
    width: 90%;
    height: 40vh;
    margin: auto;
    justify-content: center;
    padding-bottom: 50px;

}
.plan{
    width: 25%;
    height: 225px;
    padding: 40px 15px 20px 20px;

    background-color: #EDF5F6;
    border-radius: 5px;
    margin: 0 10px;
}
.plan h3{
    padding: 15px 0;
    }
.plan p{
    width: 100%;
    text-align: left;
    margin: 0;
    font-size: 16px;
}
#pink{
    background: #FFEEEE;
}
#yellow{
    background: #FFF4D6;
}

/*----------------- Plan Area FINISHED -----------------*/

.subscribe_area{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 50px;

}
.subscribe_area p{
    width: 80%;
    margin: auto;
}
.subscribe_input{
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #FFF4D6;
    border-radius: 3px;
}
.sub{
    height: 50px;
    border: none;
    width: 40%;
    padding-left: 10px;
    background: #D9D9D9;
    border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
}
input.sub:focus {
    outline: none !important;
}
.sub_btn{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

input.sub::placeholder{
    color: #8f8f8f;
    font-size: 16px;
}